body {
	background-image: url("bgs/loginbg.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	padding-top: 70px;
	margin-top: 0%;
}

h1 {
	margin-left: 3%;
	margin-top: 10%;
	color: white;
}

h2 {
	margin-left: 8%;
	color: white;
}

.whitelabel {
	color: white;
}

.hoverlight:hover {
	color: gray;
	text-decoration: underline;
	cursor: pointer;
}

.pad8left {
	margin-left: 8%;
}

.col-sm-10 {
  width: 80%;
}

.form-group {
}
