body {
	
	background-image: url("bgs/appointmentBG.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	padding-top: 70px;
	
}

label {
	font-weight: bold;
	font-size: 18px; 
	color: black;
}

.modal-body {
	margin-left: 12%;
}

.blacklabel {
	color: black;
}

.form-group {
    width: 300px;
}
.form-group input {
    width: 300px;
}
