body {
	position:relative;
	background-image: url("bgs/profilebg.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	padding-top: 70px;
	margin-top: 0%;
}

h1 {
	margin-left: 10%;
	margin-top: 1%;
	color: white;
}

h2 {
	margin-left: 10%;
	margin-top: 1%;
	font-size: 16px;
	color: white;
}

h3 {
	float: right;
	margin-right: 5%;
	color: yellow;
}

h4 {
	margin-left: 10%;
	margin-top: 1%;
	color: cyan;
	text-decoration: underline;
}

h5 {
	margin-left: 10%;
	margin-top: 2%;
	text-decoration: bold;
	color: yellow;
	font-size: 20px;
}

h5:hover{
	color: violet;
	text-decoration: underline;
}

h3:hover{
	color: violet;
	text-decoration: underline;
}

img {
	height: 300px;
	width: 300px;
}

.whitelabel {
	color: white;
}

.hoverlight:hover {
	color: gray;
}

.pad8left {
	margin-left: 8%;
}

.image {
  float: left;
  margin-left: 10%;
  padding-right: 70%;
}
.container  {
  width: 40%;
  margin-left: 6%;
  float: left;
}

.container2 {
  width: 33%;
  float:left;
  padding-left: 2%;
}
