body {
	position:relative;
	background-image: url("bgs/profilebg.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	margin-top: 0%;
}

h1 {
	margin-left: 10%;
	margin-top: 1%;
	color: white;
}

h2 {
	margin-left: 10%;
	margin-top: 1%;
	font-size: 16px;
	color: white;
}

h3 {
	float: right;
	margin-right: 5%;
	color: yellow;
}

img {
	margin-left: 10%;
	height: 200px;
	width: 200px;
}

.whitelabel {
	color: white;
}

.hoverlight:hover {
	color: gray;
}

.pad8left {
	margin-left: 8%;
}
