body {
	position:relative;
	background-image: url("bgs/profilebg.jpg");
	background-attachment: fixed;
	background-size: 100% 100%;
	padding-top: 70px;
	margin-top: 0%;
}

h1 {
	margin-left: 10%;
	margin-top: 1%;
	color: white;
}

h2 {
	margin-left: 10%;
	margin-top: 1%;
	font-size: 16px;
	color: white;
}

h3 {
	margin: 1% 5% 0% 0%;
	float: right;
	color: yellow;
	clear: right;
}

h4 {
	margin-left: 10%;
	margin-top: 1%;
	color: cyan;
	text-decoration: underline;
}

h5 {
	margin-left: 10%;
	margin-top: 2%;
	text-decoration: bold;
	color: yellow;
	font-size: 20px;
}

h5:hover{
	color: violet;
	text-decoration: underline;
}

h3:hover{
	color: violet;
	text-decoration: underline;
}

img {
	margin-left: 10%;
	height: 200px;
	width: 200px;
}

.whitelabel {
	color: white;
}

.hoverlight:hover {
	color: gray;
}

.pad8left {
	margin-left: 8%;
}

.myprofilecontainerleft {
	width: 50%;
	float: left;
}

.myprofilecontainerright {
	width: 50%;
	float: right;
}


